.list-cards {
	display: flex;
	justify-content: space-around;
	font-size: 20px;
	text-align: center;
	margin-top: 20px;
}			

.list-cards .card {
	max-width: 350px;
	padding: 50px;
	border: 1px solid #c4d8dc;
	border-radius: 8px;
	margin: 0 20px;
	position: relative;
}

.list-cards figure {
	padding-bottom: 40px;
}

.list-cards img {
	width: 100px;
}

.list__txt {
	font-size: 14px;
}

.list__txt:after {
	display: block;
	content: '';
	width: 100%;
	height: 2px;
	background-color: #c4d8dc;
	margin: 20px 0;
}

.price {
	font-size: 56px;
	font-weight: bold;
	color: #00bfd8;
	margin-bottom: 0;

}

.currency {
	font-size: 24px;
	vertical-align: 50%;
	font-weight: normal;
}

.frequency {
	display: block;
	margin-bottom: 20px;
	font-size: 14px;
}

.frequency:after {
	display: block;
	content: '';
	width: 100%;
	height: 2px;
	background-color: #c4d8dc;
	margin: 20px 0;
}

.label {
	position: absolute;
    top: 0;
    right: 0;
    width: 170px;
    height: 170px;
    overflow: hidden;
}

p.best-value {
	position: relative;
    width: 220px;
    padding: 5px 0 5px 66px;
    background-color: #00bfd8;
    color: #fff;
    transform: rotate(45deg) translate3d(0, 0, 0);
}