html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	text-decoration: none;
	font-family: 'Raleway', sans-serif;
	color: #626262;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	font-family: 'Raleway', sans-serif;
	color: #626262;

}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

*, *::before, *::after {
    box-sizing: border-box;
}

h1 {
	font-size: 48px;
	font-weight: 800;
	color: #393939;
}

h2 {
	font-size: 36px;
	font-weight: 800;
	line-height: 1.4;
	margin-bottom: 20px;
	text-transform: capitalize;
	color: #393939;
}

h3 {
	font-size: 22px;
	font-weight: 800;
	line-height: 1.4;
	margin-bottom: 20px;
	color: #393939;
	text-transform: uppercase;
}

h4 {
	font-size: 18px;
	text-transform: capitalize;
	font-weight: bold;
	color: #393939;
	margin-bottom: 20px;
}

p {
	line-height: 1.4;
	margin-bottom: 20px;
}